<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card bg-light" style="width: 18rem; height: 18rem;">
                <br />
                <div class="text-center" style="height: 10rem;">
                    <h2>
                        <i class="card-img-top fas fa-university fa-3x"></i>
                    </h2>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Bancos</h5>
                    <a asp-controller="Bancos" asp-action="Index" class="btn btn-primary">Ir a bancos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card bg-light" style="width: 18rem; height: 18rem;">
                <br />
                <div class="text-center" style="height: 10rem;">
                    <h2>
                        <i class="card-img-top fas fa-file-invoice fa-3x"></i>
                    </h2>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Documentos tributarios y giros</h5>
                    <a asp-controller="Miscelaneos" asp-action="IndexDtes" class="btn btn-primary">Ir a sección</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card bg-light" style="width: 18rem; height: 18rem;">
                <br />
                <div class="text-center" style="height: 10rem;">
                    <h2>
                        <i class="card-img-top fas fa-users fa-3x"></i>
                    </h2>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Comunas y sectores</h5>
                    <a asp-controller="Bancos" asp-action="Index" class="btn btn-primary">Ir a sección</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card bg-light" style="width: 18rem; height: 18rem;">
                <br />
                <div class="text-center" style="height: 10rem;">
                    <h2>
                        <i class="card-img-top fas fa-users fa-3x"></i>
                    </h2>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Sabores, categorias y medidas</h5>
                    <a asp-controller="Bancos" asp-action="Index" class="btn btn-primary">Ir a sección</a>
                </div>
            </div>
        </div>
    </div>
</div>