@using FrutosElqui.Core.Misc
@{
    var comunas = ViewData["Comunas"] as List<Comuna>;
    var sectores = ViewData["Sectores"] as List<Sector>;
}
<div class="container-fluid">
    <h4>Comunas</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <table id="tablaComunas" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr class="text-center">
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comuna in comunas)
                            {
                                <tr class="text-center">
                                    <td>@comuna.NombreComuna</td>
                                    <td>
                                        <button class="btn btn-danger">Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 col-lg-12 mb-3">
                    <button id="nuevoDteButton" class="btn btn-success" data-toggle="modal" data-target="#modalNuevaComuna"><i class="far fa-plus-square"></i>&nbsp;Ingresar nueva comuna</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Sectores</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <table id="tablaSectores" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr class="text-center">
                                <th>Nombre sector</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sector in sectores)
                            {
                                <tr class="text-center">
                                    <td>@sector.NombreSector</td>
                                    <td>
                                        <button class="btn btn-danger">Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 col-lg-12 mb-3">
                    <button id="nuevoGiroButton" class="btn btn-success" data-toggle="modal" data-target="#modalNuevoSector"><i class="far fa-plus-square"></i>&nbsp;Ingresar nuevo sector</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevoSector" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloNuevoDte">Nuevo sector</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="nombreSector" class="control-label">Nombre del nuevo sector</label>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <input class="form-control" type="text" id="nombreSector" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="IngresarNuevoSector()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevaComuna" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloNuevoGiro">Nueva comuna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="nombreComuna" class="control-label">Nombre de la nueva comuna</label>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <input class="form-control" type="text" id="nombreComuna" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="IngresarComuna()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaSectores').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                autoFill: true,
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
            $('#tablaComunas').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                autoFill: true,
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
        });

        function IngresarComuna() {
            const nuevaComuna = $('#nombreComuna').val();
            if (nuevaComuna.length > 3) {
                $.ajax({
                    url: '@Url.Action("","")',
                    type: 'POST',
                    data: `{ "NombreComuna" : "${nuevaComuna}" }`,
                    contentType: "application/json; charset=utf-8",
                    async: true,
                    success: function() {
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado la nueva comuna.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function () {
                            location.reload();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'El nombre no puede ser vacio',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }

        function IngresarSector() {
            const nuevoSector = $('#nombreSector').val();
            if (nuevoSector.length > 3) {
                $.ajax({
                    url: '@Url.Action("","")',
                    type: 'POST',
                    data: `{ "NombreSector" : "${nuevoSector}" }`,
                    contentType: "application/json; charset=utf-8",
                    async: true,
                    success: function() {
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado el nuevo sector.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function () {
                            location.reload();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'El nombre no puede ser vacio',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }
    </script>
}