@using Microsoft.AspNetCore.Identity
@using FrutosElqui.Core.Usuarios
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola, @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout&nbsp;<i class="fas fa-sign-out-alt"></i></button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="mailto:me@felipealvarez.dev"><i class="fas fa-bug"></i>&nbsp;Reportar un error</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i>&nbsp;Ingresar</a>
    </li>
}
</ul>
