@using FrutosElqui.Core.Proveedores
@{
    var Proveedor = (ViewData["Proveedor"] as Proveedor)?? new Proveedor();
}
<div class="container-fluid">

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">

    </script>
}
