@using FrutosElqui.Core.Proveedores
@{
    var Proveedores = ViewData["Proveedores"] as List<Proveedor>;
}
<div class="container-fluid">

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">

    </script>
}
